<h3>{{question.content}}</h3>
<div>
    <a href="/answer/{{question.id}}/yes"><button>Yes</button></a>
    <a href="/answer/{{question.id}}/no"><button>No</button></a>
</div>
<div>
    <a href="/"><button>cau hoi khac</button></a>
    <a href="/question/{{question.id}}"><button>seevote</button></a>
    {{!-- <a href="/question?questionId={{question.id}}"><button>seevote</button></a> --}}
</div>
